.logo{
    position: absolute;
    width: 320px;
    height: 900px;
    left: 59px;
    top: 113px;
    border-radius: 20px;
}
@font-face {
    font-family: 'Poppins Regular';
    src: url('Poppins-Regular.eot');
    src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('Poppins-Regular.woff') format('woff'),
    url('Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{

    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 1px;
    
    background: rgba(196, 196, 196, 0.42);
}
.logo_txt{
    position: absolute;
    width: 92px;
    height: 50px;
    left: 136px;
    top: 125px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #00302E;
    
}
.h1{
    width: 358px;
    height: 33px;
    margin-left: 388px;
    margin-top: 139px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    color: #00302E;
}
.txt1{
    position: absolute;
    width: 309px;
    height: 33px;
    left: 390px;
    top: 176px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: rgba(0, 0, 0, 0.69);
}
.dashb_box{
    position: absolute;
    width: 267px;
    height: 50px;
    left: 26px;
    top: 296px;
    background: rgba(196, 196, 196, 0.42);
    border-radius: 12px;
}
.dashb{
    
    width: 106px;
    height: 15px;
    padding-left: 54px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 107px;
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
}
.dashb_icon{
    position: absolute;
    left: 6.15%;
    right: 6.25%;
    top: 9.45%;
    bottom: 9.5px;
}
.profile{
    position: absolute;
    left: 44px;
    top: 376px;
}
.others{
    position: absolute;
    left: 44px;
    top: 441px;
}
.cart{
position: absolute;
left: 44px;
top: 510px;
}
.prof{
position: absolute;
top: 378px;
left: 80px;
font-family: 'Poppins Regular';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #707070;
}
.other{
    position: absolute;
    width: 74px;
    height: 24px;
    left: 80px;
    top: 443px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #707070;
}
.ycart{
    position: absolute;
    width: 107px;
    height: 15px;
    left: 80px;
    top: 502px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    color: #707070
}
.box6{
    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 251px;
    top: 443px;
    
    background: #06E775;
    border: 1px solid #06E775;
    border-radius: 5px;
}
.num6{
    position: absolute;
    width: 10px;
    height: 19px;
    left: 7px;
    top: 3px;
    right: 7px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #000000;
}
.box7{
    box-sizing: border-box;

    position: absolute;
    width: 24px;
    height: 24px;
    left: 251px;
    top: 505px;
    
    background: #F3C294;
    border: 1px solid #F3C294;
    border-radius: 5px;
}
.numb6{
    position: absolute;
    width: 10px;
    height: 19px;
    left: 7px;
    top: 3px;
    right: 7px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #000000;
}
.box8{
    position: absolute;
    width: 240px;
    height: 307px;
    left: 388px;
    top: 262px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
}
.box9{
    position: absolute;
    width: 240px;
    height: 307px;
    left: 746px;
    top: 262px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
}
.box10{
    position: absolute;
    width: 240px;
    height: 307px;
    left: 1104px;
    top: 262px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
}
.box11{
    position: absolute;
    width: 240px;
    height: 307px;
    left: 388px;
    top: 637px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
}
.box12{
    position: absolute;
    width: 240px;
    height: 307px;
    left: 746px;
    top: 637px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
}
.box13{
    position: absolute;
    width: 240px;
    height: 307px;
    left: 1104px;
    top: 637px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    border-radius: 5px;
}
.tillbox3{
display: flex;
justify-content: space-around;
}
.tillbox6{
display: flex;
justify-content: space-around;
}
.h7{
    position: absolute;
    width: 113px;
    height: 33px;
    left: 57px;
    top: 150px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    /* identical to box height, or 194% */
    
    
    color: #00302E;
}
.h8{
    position: absolute;
    width: 113px;
    height: 33px;
    left: 57px;
    top: 150px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    /* identical to box height, or 194% */
    
    
    color: #00302E;
}
.h9{
    position: absolute;
    width: 113px;
    height: 33px;
    left: 57px;
    top: 150px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    /* identical to box height, or 194% */
    
    
    color: #00302E;
}
.h4{
    position: absolute;
    width: 113px;
    height: 33px;
    left: 57px;
    top: 150px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    /* identical to box height, or 194% */
    
    
    color: #00302E;
}
.h5{
    position: absolute;
    width: 113px;
    height: 33px;
    left: 57px;
    top: 150px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    /* identical to box height, or 194% */
    
    
    color: #00302E;
}
.h6{
    position: absolute;
    width: 113px;
    height: 33px;
    left: 57px;
    top: 150px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 33px;
    /* identical to box height, or 194% */
    
    
    color: #00302E;
}
.p1{
    position: absolute;
    width: 172px;
    height: 42px;
    left: 34px;
    top: 187px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    /* or 191% */
    
    text-align: center;
    
    color: rgba(0, 0, 0, 0.69);
}
.price1{
    position: absolute;
    width: 68px;
    height: 33px;
    left: 29px;
    top: 251px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 33px;
    /* identical to box height, or 254% */
    
    
    color: #00302E;
}
.button1{
    position: absolute;
    width: 73px;
    height: 33px;
    left: 153px;
    top: 251px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 33px;
    /* identical to box height, or 254% */
    
    text-align: right;
    
    color: #06E775;
}
.rasm1{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 68px;
    top: 47px;
    
    background: url(ben-kim-JjzjBLmANVA-unsplash.jpg);
    border-radius: 400px;
}
.rectangle{
    position: absolute;
    width: 521px;
    height: 900px;
    left: 986px;
    top: 4px;
    
    background: #FFFFFF;
}
.welcome{
    position: absolute;
    width: 247px;
    height: 33px;
    left: 985px;
    top: 204px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    /* identical to box height, or 122% */
    
    
    color: #00302E;
}
.email_box{
    position: absolute;
    width: 488px;
    height: 71px;
    left: 848px;
    top: 416px;
    
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
}
.email{
    position: absolute;
    width: 134px;
    height: 33px;
    left: 873px;
    top: 435px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: rgba(0, 48, 46, 0.53);
}
.parol_box{
    position: absolute;
    width: 488px;
    height: 71px;
    left: 857px;
    top: 515px;
    
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
}
.parol{
    position: absolute;
    width: 103px;
    height: 33px;
    left: 893px;
    top: 534px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: rgba(0, 48, 46, 0.53);
}
.show{
    position: absolute;
    width: 37px;
    height: 33px;
    left: 1266px;
    top: 534px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: #00302E;
}
button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    
    position: absolute;
    width: 488px;
    height: 60px;
    left: 848px;
    top: 636px;
    
    background: #00302E;
    border-radius: 5px;
    border: #00302E;
}
.login{
    width: 54px;
    height: 21px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    
    color: #FBDDBB;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.create{
    position: absolute;
    width: 133px;
    height: 33px;
    left: 846px;
    top: 704px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: rgba(0, 48, 46, 0.91);
}
.forgot{
    position: absolute;
    width: 125px;
    height: 33px;
    left: 1208px;
    top: 704px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: rgba(0, 48, 46, 0.91);
}

.name_box{
    position: absolute;
    width: 488px;
    height: 71px;
    left: 848px;
    top: 298px;
    
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(251, 221, 187, 0.51);
    border-radius: 5px;
}
.name{
    position: absolute;
    width: 110px;
    height: 33px;
    left: 873px;
    top: 317px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: center;
    
    color: rgba(0, 48, 46, 0.53);
}
.loginn{
    position: absolute;
    width: 227px;
    height: 33px;
    left: 978px;
    top: 724px;
    
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    /* identical to box height, or 236% */
    
    text-align: right;
    
    color: rgba(0, 48, 46, 0.91);
}